
.tasks-additional-block-link {
    margin-left: 10px;
}

.task-dashed-link {
    display: inline-block;
    vertical-align: middle;
    line-height: 22px;
    margin-bottom: 25px;
    font-size: 12px;
    color: #1f67b0;
}

.task-dashed-link-add .task-dashed-link-inner {
    margin: 0 0 10px 0px;
    color: #1c53a2;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
}

.delete-user {
    color: #d11919;
    vertical-align: super;
}

.delete-user:hover {
    color: #d16261;
}

.task-dashed-link-inner {
    cursor: pointer;
    display: table;
    vertical-align: middle;
    line-height: 18px;
    padding-top: 5px;
}

.task-dashed-link {
    font-size: 14px;
}

.search {
    position: relative;
}

.search_result {
    background: #FFF;
    border: 1px #ccc solid;
    width: 300px;
    border-radius: 4px;
    max-height: 100px;
    overflow-y: scroll;
    display: none;
	margin-top: 0px;
}

.search_result li {
    list-style: none;
    padding: 5px 10px;
    margin: 0 0 0 -40px;
    color: #0896D3;
    border-bottom: 1px #ccc solid;
    cursor: pointer;
    transition: 0.3s;
}

.search_result li:hover {
    background: #F9FF00;
}

.who {
    background: #fff;
    color: #313232;
    display: inline-block;
    border: none;
    position: relative;
    font-size: 13px;
    height: 30px;
    margin: 0;
    outline: none;
    vertical-align: middle;
    padding: 0 8px;
    box-sizing: border-box;
}

.bx24-top-bar-search-wrap {
    width: 250px;
    margin-bottom: 30px;
}

#error-info {
    margin-bottom: 20px;
    color: red;
    font-weight: bold;
}


.user-presale-list {
    cursor: pointer;
    display: block;
    margin-bottom: 2px;
    padding: 8px 1px 6px 30px;
    position: relative;
    transition: none;
}

.user-presale-list-span {
    float: right;
}

.user-presale-list:link, .user-presale-listactive, .user-presale-list:visited {
    color: #555555;
    text-decoration: none;
}

.employee-search-wrap {
    overflow: visible!important;
}

.make-main-presale {
    color: #37b44a;
    vertical-align: super;
}

.make-main-presale:hover {
    color: #81ca9d;
}

.delete-main-presale {
    color: #d11919;
    vertical-align: super;
}

.delete-main-presale:hover {
    color: #d16261;
}